


.btn-siteContent{
    align-self: center;
    margin: 10px 0 10px 0;
    display: flex;
    display: block;
    
}



.label-navRelay{
    text-transform: uppercase;
    font-size: x-large;
    box-sizing: border-box;
    align-self: center;
    border-radius: 10px;
    display: block;
    text-align: center;
    height: 100px;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,0.9);
    margin: 10px;
    background: linear-gradient(to bottom, var(--headerSecondaryBgColor) 40%, transparent 100% );
    text-shadow: -1px -1px rgb(250, 250, 250);
    color: var(--headerTextColor);
    font-family: RobotoFlex;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-family: RobotoFlex;
        font-size: 80%;
    }
}



.label-navRelay:active{
    background-color: var(--siteNavigationYGcolor);
    transform: perspective(20px) translateZ(-10px);
}



@media screen and (prefers-reduced-motion: no-preference) {
    .label-navRelay {
        transition: all .3s ease;
    }
    
    .label-navRelay:hover {  
    transition: all .3s ease;
        }
    }





@media screen and (min-width: 599px) {

    .label-navRelay:hover {
        background-color: var(--siteNavigationYGcolor);
        
    }


    .label-navRelay:hover {
        color: var(--siteNavigationYGcolor);
        
    }
}

